header{
    background:linear-gradient(#00aaeb,#1e4584) ;;
    font-size:40px;
    text-align: center; 
    height: 10vh;
    color: #fff;
    padding-top: 10px;

}   

body{
   
    height: 100vh;
     // HALロゴへの指示
     background: url(../img/logo.png) no-repeat;
     background-size: 90%;
     background-position:50%;
     background-color:rgba(255,255,255,0.8);
     background-blend-mode:lighten;
    section{
        h2{
            margin-top:15%;
            font-size: 1.5rem;
        }
        ul{
            margin-top: 100px;
            li{
                height: 3rem;
                text-align: center;
                font-size: 1.5rem;
                margin: 20px;
                padding-top: 10px;
                font-weight: bold;
                background:linear-gradient(#00aaeb,#1e4584) ;
                color:white;
                transform: skew(-15deg);
                
                }
            }
           
        }
    }






footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align:center;
}

// 以下webサイトのデザイン
@media screen and ( min-width:1024px ){
    body{
        background: transparent;
        section{
            h2{
                margin:100px auto;
                width: 300px;
                &::before{
                    content:initial;
                }
                &::after{
                    content:initial;
                }
                border-top: 4px solid #00aaeb;
                border-bottom: 4px solid #00aaeb;
                border-image: linear-gradient(to left, #00aaeb 0%, #1e4584 100%);
                border-image-slice: 1;
            }

            ul{
                li{
                    margin: 30px 370px;
                    a{
                        padding: 10px 100px;
                    }
                }
            }   
     
        
        }
        footer{
            p{
                color: white;
            }
        }
    }

}